<html xmlns:th="http://www.thymeleaf.org" lang="Ru">
<head>
    <title>Warestore - Пневматическое оружие</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body th:style="'background: url(/img/background.jpg) no-repeat center center fixed;'">
<p><img th:src="@{img/AmmuNationHeader.png}" th:class="image_header" alt=""/></p>
<h1 th:align="center">Пневматическое оружие</h1>
<form th:object="${airgunsList}" method="get">
    <table th:align="center" th:id="products">
        <th>Арктикул</th><th></th><th>Наименование</th><th>Описание</th><th>Калибр</th><th>Количество, шт.</th><th>Цена, ₽</th>
        <tr th:each="airgun: ${airgunsList}">
            <td th:text="${airgun.id}"/>
            <td><img th:src="@{img/NoAirgunImage.png}" alt="" th:class="image_catalog"/></td>
            <td th:text="${airgun.name}"/>
            <td th:text="${airgun.description}"/>
            <td th:text="${airgun.caliber}"/>
            <td th:text="${airgun.quantity}"/>
            <td th:text="${airgun.price}"/>
        </tr>
    </table>
</form>
</body>
</html>