<html xmlns:th="http://www.thymeleaf.org" lang="Ru">
<head>
    <title>Warestore - Боеприпасы</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
    <script th:src="@{/js/script.js}"></script>
</head>
<body th:style="'background: url(/img/background.jpg) no-repeat center center fixed;'">
<img th:src="@{img/AmmuNationHeader.png}" th:class="image_header" alt=""/>
<div class="hat">
    <div class="left">
        <a class="button1" href="/">< На Главную</a>
    </div>
</div>
<br>
<br>
<form th:object="${ammoList}" method="get">
    <table th:align="center" th:id="products">
        <caption>Боеприпасы</caption>
        <th>Арктикул</th><th></th><th>Наименование</th><th>Описание</th><th>Калибр</th><th>Количество в пачке, шт.</th><th>Количество на складе, шт.</th><th>Цена за шт., ₽</th><th>Добавить в корзину</th>
        <tr th:each="ammo: ${ammoList}">
            <td th:text="${ammo.id}"/>
            <td><img th:src="@{img/NoAmmoImage.png}" alt="" th:class="image_catalog"/></td>
            <td th:text="${ammo.name}"/>
            <td th:text="${ammo.description}"/>
            <td th:text="${ammo.caliber}"/>
            <td th:text="${ammo.rounds}"/>
            <td th:text="${ammo.quantity}"/>
            <td th:text="${ammo.price}"/>
            <td>
                <form>
                    <input type="hidden" th:value="${ammo.id}" name="id">
                    <input type="hidden" th:value="${ammo.quantity}" name="quantity">
                    <input type="hidden" th:value="${ammo.price}" name="price">
                    <input type="hidden" th:value="${ammo.name}" name="name_p">
                    <button type="button" onclick="addToCart(this.form.id.value, this.form.quantity.value, this.form.price.value, this.form.name_p.value)">+</button>
                    <p th:id="${ammo.id}">0</p>
                    <button type="button" onclick="deleteFromCart(this.form.id.value)">-</button>
                </form>
            </td>
        </tr>
    </table>
</form>
<br>
<form th:action="@{/getAmmoPageButtons}" method="post" th:align="center">
    <input type="hidden" name="currentPage" id="currentPage" value="0">
    <input type="submit" class="button1" value="< предыдущая страница" onclick="prevPage()"><input type="submit" class="button1" value="следующая страница >" onclick="nextPage()">
</form>
<br>
<br>
<br>
<br>
<div id="div_cartFrom" style="display:none" >
    <table id="products" th:align="center">
        <tr><th></th><th><h1>Добавить к покупке</h1></th><th></th></tr>
        <th>Наименование</th><th>Количество, шт.</th><th>Цена, ₽</th>
        <tbody id="bodyCartTable">
        </tbody>
        <th><h2>Общая сумма</h2><h2 id="totalSum"></h2><h2>₽</h2></th><th></th><th><a class="button1" onclick="addToPurchase()">Добавить к покупке</a></th>
    </table>
</div>
<footer>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="footer">&copyТимофеев Евгений, 2021 Grove Street</div>
</footer>
</body>
</html>