<html xmlns:th="http://www.thymeleaf.org" lang="Ru">
<head>
    <title>Warestore - Боеприпасы</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style type="text/css">
        TABLE {
            border-collapse: collapse;
        }
        TD, TH {
            padding: 3px;
            border: 1px solid black;
        }
        TH {
            background: #b0e0e6; /* Цвет фона */
        }
    </style>
</head>
<body>
<h1 th:align="center">Боеприпасы</h1>
<form th:object="${ammoList}" method="get">
    <table th:align="center">
        <tr th:each="ammo: ${ammoList}">
            <td th:text="${ammo.id}"/>
            <td th:text="${ammo.name}"/>
            <td th:text="${ammo.description}"/>
            <td th:text="${ammo.caliber}"/>
            <td th:text="${ammo.rounds}"/>
            <td th:text="${ammo.quantity}"/>
            <td th:text="${ammo.price}"/>
        </tr>
    </table>
</form>
</body>
</html>