<html xmlns:th="http://www.thymeleaf.org" lang="Ru">
<head>
    <title>Warestore - Вход</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
    <script th:src="@{/js/catalog.js}"></script>
</head>
<body th:style="'background: url(/img/background.jpg) no-repeat center center fixed;'">
<img th:src="@{img/AmmuNationHeader.png}" th:class="image_header" alt=""/>
<div class="center">
    <div class="substrate_no_opacity">
        <form th:object="${userAuthentication}" th:action="@{/authentication}" id="userAuthorizationForm" method="post">
            <table class="font_size_text">
                <tr>
                    <td><p>Логин: </p></td>
                    <td><input type="text" placeholder="victor" th:field="*{username}"  required minlength="5" maxlength="20" pattern="[a-z][a-z0-9]+" title="Логин должен начинаться с латинской буквы в нижнем регистре, состоять из латинских букв в нижнем регистре или цифр."/></td>
                </tr>
                <tr>
                    <td><p>Пароль: </p></td>
                    <td><input type="password" placeholder="reznov" th:field="*{password}" required minlength="5" maxlength="12"/></td>
                </tr>
            </table>
            <br>
            <input type="submit" class="button1" value="Войти">
            <a class="button1" href="/registration">Зарегистрироваться</a>
            <a class="button1" href="/">Отмена</a>
        </form>
    </div>
</div>
<footer>
    <div class="footer">&copyТимофеев Евгений, 2021 Grove Street</div>
</footer>
</body>
</html>