<html xmlns:th="http://www.thymeleaf.org" lang="Ru">
    <head>
        <title>Warestore - Главная</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
    </head>
    <body th:style="'background: url(/img/background.jpg) no-repeat center center fixed;'">
        <p><img th:src="@{img/AmmuNationHeader.png}" th:class="image_header" alt=""/></p>
        <div class="substrate">
            <form th:action="@{/search}" th:object="${categoriesList}" method="get">
                <table th:id="categories_table">
                    <tr th:each="category: ${categoriesList}">
                        <td><a th:class="category" th:text="${category.name}" th:href="${category.url}"/></td>
                    </tr>
                </table>
            </form>
        </div>
        <footer>
            <div class="footer">&copyТимофеев Евгений, 2021 Grove Street</div>
        </footer>
    </body>
</html>