<html xmlns:th="http://www.thymeleaf.org" lang="Ru">
    <head>
        <title>Warestore - Главная</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <style type="text/css">
            TABLE {
                border-collapse: collapse;
            }
            TD, TH {
                padding: 3px;
                border: 1px solid black;
            }
            TH {
                background: #b0e0e6; /* Цвет фона */
            }
        </style>
    </head>
    <body>
        <h1 th:align="center">WARESTORE ГЛАВНАЯ</h1>
        <form th:action="@{/search}" th:object="${categoriesList}" method="get">
            <table th:align="center">
                <tr th:each="category: ${categoriesList}">
                    <td th:text="${category.id}"/>
                    <td th:text="${category.name}"/>
                </tr>
            </table>
        </form>
    </body>
</html>