<html xmlns:th="http://www.thymeleaf.org" lang="Ru">
<head>
    <title>Warestore - Нарезное оружие</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body th:style="'background: url(/img/background.jpg) no-repeat center center fixed;'">
<p><img th:src="@{img/AmmuNationHeader.png}" th:class="image_header" alt=""/></p>
<h1 th:align="center">Нарезное оружие</h1>
<form th:object="${riflesList}" method="get">
    <table th:id="products" th:align="center">
        <th>Арктикул</th><th></th><th>Наименование</th><th>Описание</th><th>Калибр</th><th>Количество, шт.</th><th>Цена, ₽</th>
        <tr th:each="rifle: ${riflesList}">
            <td th:text="${rifle.id}"/>
            <td><img th:src="@{img/NoRifleImage.png}" alt="" th:class="image_catalog"/></td>
            <td th:text="${rifle.name}"/>
            <td th:text="${rifle.description}"/>
            <td th:text="${rifle.caliber}"/>
            <td th:text="${rifle.quantity}"/>
            <td th:text="${rifle.price}"/>
        </tr>
    </table>
</form>
</body>
</html>