<html xmlns:th="http://www.thymeleaf.org" lang="Ru">
<head>
    <title>Warestore - Гладкоствольное оружие</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style type="text/css">
        TABLE {
            border-collapse: collapse;
        }
        TD, TH {
            padding: 3px;
            border: 1px solid black;
        }
        TH {
            background: #b0e0e6; /* Цвет фона */
        }
    </style>
</head>
<body>
<h1 th:align="center">Гладкоствольное оружие</h1>
<form th:object="${shotgunsList}" method="get">
    <table th:align="center">
        <tr th:each="shotgun: ${shotgunsList}">
            <td th:text="${shotgun.id}"/>
            <td th:text="${shotgun.name}"/>
            <td th:text="${shotgun.description}"/>
            <td th:text="${shotgun.caliber}"/>
            <td th:text="${shotgun.quantity}"/>
            <td th:text="${shotgun.price}"/>
        </tr>
    </table>
</form>
</body>
</html>