<html xmlns:th="http://www.thymeleaf.org" lang="Ru">
<head>
    <title>Warestore - Мишени</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body th:style="'background: url(/img/background.jpg) no-repeat center center fixed;'">
<p><img th:src="@{img/AmmuNationHeader.png}" th:class="image_header" alt=""/></p>
<h1 th:align="center">Мишени</h1>
<form th:object="${targetList}" method="get">
    <table th:align="center" th:id="products">
        <th>Арктикул</th><th></th><th>Наименование</th><th>Описание</th><th>Размер, см.</th><th>Количество, шт.</th><th>Цена, ₽</th>
        <tr th:each="target: ${targetList}">
            <td th:text="${target.id}"/>
            <td><img th:src="@{img/NoTargetImage.png}" alt="" th:class="image_catalog"/></td>
            <td th:text="${target.name}"/>
            <td th:text="${target.description}"/>
            <td th:text="${target.size}"/>
            <td th:text="${target.quantity}"/>
            <td th:text="${target.price}"/>
        </tr>
    </table>
</form>
</body>
</html>