<html xmlns:th="http://www.thymeleaf.org" lang="Ru">
<head>
    <title>Warestore - Мишени</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
    <script th:src="@{/js/script.js}"></script>
</head>
<body th:style="'background: url(/img/background.jpg) no-repeat center center fixed;'">
<p><img th:src="@{img/AmmuNationHeader.png}" th:class="image_header" alt=""/></p>
<h1 th:align="center">Мишени</h1>
<form th:object="${targetList}" method="get">
    <table th:align="center" th:id="products">
        <th>Арктикул</th><th></th><th>Наименование</th><th>Описание</th><th>Размер, см.</th><th>Количество, шт.</th><th>Цена, ₽</th><th>Добавить в корзину</th>
        <tr th:each="target: ${targetList}">
            <td th:text="${target.id}"/>
            <td><img th:src="@{img/NoTargetImage.png}" alt="" th:class="image_catalog"/></td>
            <td th:text="${target.name}"/>
            <td th:text="${target.description}"/>
            <td th:text="${target.size}"/>
            <td th:text="${target.quantity}"/>
            <td th:text="${target.price}"/>
            <td>
                <form>
                    <input type="hidden" th:value="${target.id}" name="id">
                    <input type="hidden" th:value="${target.quantity}" name="quantity">
                    <input type="hidden" th:value="${target.price}" name="price">
                    <input type="hidden" th:value="${target.name}" name="name_p">
                    <button type="button" onclick="addToCart(this.form.id.value, this.form.quantity.value, this.form.price.value, this.form.name_p.value)">+</button>
                    <p th:id="${target.id}">0</p>
                    <button type="button" onclick="deleteFromCart(this.form.id.value)">-</button>
                </form>
            </td>
        </tr>
    </table>
</form>
<form th:action="@{/getTargetsPageButtons}" method="post" th:align="center">
    <input type="hidden" name="currentPage" id="currentPage" value="0">
    <input type="submit" value="< предыдущая страница" onclick="prevPage()"><input type="submit" value="следующая страница >" onclick="nextPage()">
</form>
<br>
<br>
<br>
<br>
<div id="div_cartFrom" style="display:none" >
    <table id="products" th:align="center">
        <tr><th></th><th><h1>Добавить к покупке</h1></th><th></th></tr>
        <th>Наименование</th><th>Количество, шт.</th><th>Цена, ₽</th>
        <tbody id="bodyCartTable">
        </tbody>
        <th><h2>Общая сумма</h2><h2 id="totalSum"></h2><h2>₽</h2></th><th></th><th><a class="button1" onclick="addToPurchase()">Добавить к покупке</a></th>
    </table>
</div>
<footer>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="footer">&copyТимофеев Евгений, 2021 Grove Street</div>
</footer>
</body>
</html>